@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=Passion%20One');

body {
  background: url("../assets/sky.png") no-repeat center;
  background-size: cover;
  height: 80vh;
  width: 101%;
  margin-left: -15px;
  margin-top: -10px;
}

.container {
  position: absolute;
  margin-top: 50px;
}

.title {
  font-family: 'Acme', serif;
  color: white;
  font-size: 40px;
  text-shadow: 4px 4px 4px black;
  text-align: center;
  margin-left: 400px;
}

.topnav {
  font-family: 'Passion One', serif;
  overflow: hidden;
  background-color: lightskyblue;
  margin-top: 5vh;
  margin-left: 36vw;
  width: fit-content;
}

.topnav a {
  font-size: 25px;
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 2px darkblue;
  padding: 14px 16px;
}

.topnav a:hover {
  background-color: white;
  color: black;
  text-shadow: none;
}
