<div class="data">
  <form>
    <div class="form-group">
      <label for="fullName">
        <input type="text" class="form-control" id="fullName" placeholder="find by full name">
      </label>
      <label>
        <input class="form-control form-date" placeholder="date" [(ngModel)]="date" name="date" [disabled]="true">
      </label>
    </div>
  </form>
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
      <th scope="col"> Skrót </th>
      <th scope="col"> Waluta </th>
      <th scope="col"> Kraj </th>
      <th scope="col"> Kurs [vs. EUR] </th>
      <th scope="col"> Zmiana [%] </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let rate of rates">
      <td> {{rate.currency.shortName}} </td>
      <td> {{rate.currency.fullName}} </td>
      <td> {{rate.currency.country}} </td>
      <td> {{rate.value}} </td>
      <td> {{rate.lastChange}} </td>
    </tr>
    </tbody>
  </table>
</div>
