.data {
  position: absolute;
  margin-top: 270px;
  margin-left: 420px;
}

.table {
  text-align: center;
  margin-bottom: 20%;
}

.form-control {
  width: 300px;
}

.form-date {
  font-family: 'Numans', serif;
  font-size: 14px;
  text-align: center;
  width: 130px;
  margin-left: 320px;
}
